<div class="customer-addresses" data-template="addresses">
  <h1>{{ 'customer.addresses.title' | t }}</h1>

  <h2>{{ 'customer.addresses.add_new' | t }}</h2>

  {%- form 'customer_address', customer.new_address -%}
    <div class="field">
      <label for="address-first-name">{{ 'customer.addresses.first_name' | t }}</label>
      <input type="text" id="address-first-name" name="address[first_name]" autocomplete="given-name">
    </div>

    <div class="field">
      <label for="address-last-name">{{ 'customer.addresses.last_name' | t }}</label>
      <input type="text" id="address-last-name" name="address[last_name]" autocomplete="family-name">
    </div>

    <div class="field">
      <label for="address-address1">{{ 'customer.addresses.address1' | t }}</label>
      <input type="text" id="address-address1" name="address[address1]" autocomplete="address-line1">
    </div>

    <div class="field">
      <label for="address-address2">{{ 'customer.addresses.address2' | t }}</label>
      <input type="text" id="address-address2" name="address[address2]" autocomplete="address-line2">
    </div>

    <div class="field">
      <label for="address-city">{{ 'customer.addresses.city' | t }}</label>
      <input type="text" id="address-city" name="address[city]" autocomplete="address-level2">
    </div>

    <div class="field">
      <label for="address-country">{{ 'customer.addresses.country' | t }}</label>
      <select id="address-country" name="address[country]" autocomplete="country"></select>
    </div>

    <div class="field">
      <label for="address-province">{{ 'customer.addresses.province' | t }}</label>
      <select id="address-province" name="address[province]" autocomplete="address-level1"></select>
    </div>

    <div class="field">
      <label for="address-zip">{{ 'customer.addresses.zip' | t }}</label>
      <input type="text" id="address-zip" name="address[zip]" autocomplete="postal-code">
    </div>

    <div class="field">
      <label for="address-phone">{{ 'customer.addresses.phone' | t }}</label>
      <input type="tel" id="address-phone" name="address[phone]" autocomplete="tel">
    </div>

    <div class="field">
      {{ form.set_as_default_checkbox }}
      <label for="address-default">{{ 'customer.addresses.set_default' | t }}</label>
    </div>

    <div class="actions">
      <button type="submit">{{ 'customer.addresses.add' | t }}</button>
    </div>
  {%- endform -%}

  <h2>{{ 'customer.addresses.existing' | t }}</h2>

  {%- for address in customer.addresses -%}
    <div class="address-card">
      <p>{{ address | format_address }}</p>

      {%- form 'customer_address', address -%}
        <button type="submit" data-confirm="{{ 'customer.addresses.delete_confirm' | t }}">
          {{ 'customer.addresses.delete' | t }}
        </button>
      {%- endform -%}
    </div>
  {%- endfor -%}
</div>
