<div class="customer-login" data-template="login">
  <h1>{{ 'customer.login.title' | t }}</h1>

  {%- form 'customer_login' -%}
    {{ form.errors | default_errors }}

    <div class="field">
      <label for="customer-email">{{ 'customer.login.email' | t }}</label>
      <input
        type="email"
        id="customer-email"
        name="customer[email]"
        autocomplete="email"
        autocorrect="off"
        autocapitalize="off"
        required
      >
    </div>

    <div class="field">
      <label for="customer-password">{{ 'customer.login.password' | t }}</label>
      <input
        type="password"
        id="customer-password"
        name="customer[password]"
        autocomplete="current-password"
        required
      >
    </div>

    <div class="actions">
      <button type="submit">{{ 'customer.login.submit' | t }}</button>
      <a href="{{ routes.account_recover_url }}">{{ 'customer.login.forgot_password' | t }}</a>
    </div>
  {%- endform -%}

  <p>
    {{ 'customer.login.no_account' | t }}
    <a href="{{ routes.account_register_url }}">{{ 'customer.login.create_account' | t }}</a>
  </p>
</div>
